html, body, #background {
    height: 100%;
    width: 100%;
    background-color: #001C80;
    overflow: hidden;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    position: absolute
}